*Note from the author:* 
*Hey guys! This is my first Kaggle project where I decided to leverage my knowledge about EDA, ETL, Data Visualization (Tableau), Python (NumPy, Pandas, Jupyter Notebook), and Markdown to execute some basic geographical lead segmentations. 
This is part 1 of the series, stay tuned for more!
Feel free to comment and add your feedback - I'm just starting my career as Data Analyst and would love to receive some feedback :)*

[This is the dataset I used for my analysis.](https://www.kaggle.com/datasets/amritachatterjee09/lead-scoring-dataset)

*Enjoy!*

In [1]:
#importing the Python libraries I will need for my EDA process
import numpy as np
import pandas as pd

# Step 1: Familiarizing with the dataset + basic Data Cleaning

In [2]:
df = pd.read_csv('/kaggle/input/lead-scoring-dataset/Lead Scoring.csv') 
#importing the dataset.csv as a pandas dataframe

In [3]:
df.head(10) 
#checking how the first 10 rows look like

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,...,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,...,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,...,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified
5,2058ef08-2858-443e-a01f-a9237db2f5ce,660680,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,NaN,NaN,01.High,02.Medium,17.0,15.0,No,No,Modified
6,9fae7df4-169d-489b-afe4-0f3d752542ed,660673,Landing Page Submission,Google,No,No,1,2.0,1640,2.0,...,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,No,Modified
7,20ef72a2-fb3b-45e0-924e-551c5fa59095,660664,API,Olark Chat,No,No,0,0.0,0,0.0,...,No,NaN,NaN,02.Medium,02.Medium,15.0,15.0,No,No,Modified
8,cfa0128c-a0da-4656-9d47-0aa4e67bf690,660624,Landing Page Submission,Direct Traffic,No,No,0,2.0,71,2.0,...,No,NaN,Thane & Outskirts,02.Medium,02.Medium,14.0,14.0,No,Yes,Email Opened
9,af465dfc-7204-4130-9e05-33231863c4b5,660616,API,Google,No,No,0,4.0,58,4.0,...,No,NaN,Mumbai,02.Medium,02.Medium,13.0,16.0,No,No,Email Opened

In [4]:
df.shape 
#checking the shape of the database, which have 9240 rows and 37 columns

(9240, 37)

In [5]:
df.dtypes 
#checking the values data types, in case some adjustments needed

Prospect ID                                       object
Lead Number                                        int64
Lead Origin                                       object
Lead Source                                       object
Do Not Email                                      object
Do Not Call                                       object
Converted                                          int64
TotalVisits                                      float64
Total Time Spent on Website                        int64
Page Views Per Visit                             float64
Last Activity                                     object
Country                                           object
Specialization                                    object
How did you hear about X Education                object
What is your current occupation                   object
What matters most to you in choosing a course     object
Search                                            object
Magazine                                          object
Newspaper Article                                 object
X Education Forums                                object
Newspaper                                         object
Digital Advertisement                             object
Through Recommendations                           object
Receive More Updates About Our Courses            object
Tags                                              object
Lead Quality                                      object
Update me on Supply Chain Content                 object
Get updates on DM Content                         object
Lead Profile                                      object
City                                              object
Asymmetrique Activity Index                       object
Asymmetrique Profile Index                        object
Asymmetrique Activity Score                      float64
Asymmetrique Profile Score                       float64
I agree to pay the amount through cheque          object
A free copy of Mastering The Interview            object
Last Notable Activity                             object
dtype: object

In [6]:
df.info() 
#checking for Null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

We can see, that there are some values missing in columns:
*     Lead Source
*     TotalVisits 
*     Page Views Per Visit
*     Last Activity
*     Country
*     Specialization
*     How did you hear about X Education
*     What is your current occupation
*     What matters most to you in choosing a course
*     Tags
*     Lead Quality
*     Lead Profile 
*     City
*     Asymmetrique Activity Index
*     Asymmetrique Profile Index
*     Asymmetrique Activity Score 
*     Asymmetrique Profile Score

In [7]:
df['Lead Origin'].duplicated 
#checking for duplicates - as there are none, will use that columnd as an ID key

<bound method Series.duplicated of 0                           API
1                           API
2       Landing Page Submission
3       Landing Page Submission
4       Landing Page Submission
                 ...
9235    Landing Page Submission
9236    Landing Page Submission
9237    Landing Page Submission
9238    Landing Page Submission
9239    Landing Page Submission
Name: Lead Origin, Length: 9240, dtype: object>

# Step 2 - Further data exploration 

Choosing the most suitable columns, checking the columns unique values and formulating EDA questions, to find answers based on data

 ## For this Exploratory Data Analysis project, I've decided to focus on specific columns:
 
**Lead Number** - to identify each lead, *int64*

**Lead Origin** - to explore, is there any connection between the lead sign-up location and the conversion rate, *object*

**Converted** - very important column, showing, did the lead eventually convert or not, *int64*

**Total Visits** - the column import for measuring the online engagement of the lead, *float64*

**Total Time Spent** - the column important for measuring the online engagement of the lead, *int64*

**Page Views Per Visit** - the column important for measuring the online engagement of the lead, *float64*

**Country** - important for persona analysis, *object*

**Specialization** - important for persona analysis, *object*

**Occupation** - important for persona analysis, *object*

**Lead Quality** - important for determining the quality of the contact, *object*

## These are exemplary questions I want to find answers for based on these dataset:
1. How many converted leads come from top 10 countries, sorted from highest to lowest number for each country? **In this notebook, we'll focus on this question**
2. How does the lead quality looks like in comparison to the lead Occupation and Specialization?
3. How does the online marketing engagement (Total Visits, Total Time Spent, Page Views Per Visit, Lead Origin) influence the probability of the lead conversion?

In [8]:
df['Lead Quality'].unique() 
#checking the unique Lead Quality values

array(['Low in Relevance', nan, 'Might be', 'Not Sure', 'Worst',
       'High in Relevance'], dtype=object)

In [9]:
df['Country'].unique() 
#checking the unique Country values

array([nan, 'India', 'Russia', 'Kuwait', 'Oman', 'United Arab Emirates',
       'United States', 'Australia', 'United Kingdom', 'Bahrain', 'Ghana',
       'Singapore', 'Qatar', 'Saudi Arabia', 'Belgium', 'France',
       'Sri Lanka', 'China', 'Canada', 'Netherlands', 'Sweden', 'Nigeria',
       'Hong Kong', 'Germany', 'Asia/Pacific Region', 'Uganda', 'Kenya',
       'Italy', 'South Africa', 'Tanzania', 'unknown', 'Malaysia',
       'Liberia', 'Switzerland', 'Denmark', 'Philippines', 'Bangladesh',
       'Vietnam', 'Indonesia'], dtype=object)

In [10]:
df['Lead Origin'].unique() 
#checking the unique Lead Origin values

array(['API', 'Landing Page Submission', 'Lead Add Form', 'Lead Import',
       'Quick Add Form'], dtype=object)

In [11]:
df['Converted'].unique() 
#simple "yes" or "no" integer statement, this is what I like! ;)

array([0, 1])

In [12]:
df['Specialization'].unique()
#checking the unique Specialization values

array(['Select', 'Business Administration', 'Media and Advertising', nan,
       'Supply Chain Management', 'IT Projects Management',
       'Finance Management', 'Travel and Tourism',
       'Human Resource Management', 'Marketing Management',
       'Banking, Investment And Insurance', 'International Business',
       'E-COMMERCE', 'Operations Management', 'Retail Management',
       'Services Excellence', 'Hospitality Management',
       'Rural and Agribusiness', 'Healthcare Management', 'E-Business'],
      dtype=object)

In [13]:
#checking the unique values for What is your curent occupation column
df['What is your current occupation'].unique()

array(['Unemployed', 'Student', nan, 'Working Professional',
       'Businessman', 'Other', 'Housewife'], dtype=object)

# Step 3 - Initial dataset transforming for future analysis (ETL)

In [14]:
# creating a variable with chosen columns from the original dataset

chosen_columns = ['Lead Number', 
                  'Lead Origin', 
                  'Converted', 
                  'TotalVisits', 
                  'Total Time Spent on Website', 
                  'Page Views Per Visit',
                  'Country',
                  'Specialization',
                  'What is your current occupation',
                  'Lead Quality'
                 ]

In [15]:
custom_df = df[chosen_columns] 
# creating new data frame with chosen columns

In [16]:
custom_df.head(20) 
# checking if it work - it did, yay!

,Lead Number,Lead Origin,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Country,Specialization,What is your current occupation,Lead Quality
0,660737,API,0,0.0,0,0.00,NaN,Select,Unemployed,Low in Relevance
1,660728,API,0,5.0,674,2.50,India,Select,Unemployed,NaN
2,660727,Landing Page Submission,1,2.0,1532,2.00,India,Business Administration,Student,Might be
3,660719,Landing Page Submission,0,1.0,305,1.00,India,Media and Advertising,Unemployed,Not Sure
4,660681,Landing Page Submission,1,2.0,1428,1.00,India,Select,Unemployed,Might be
5,660680,API,0,0.0,0,0.00,NaN,NaN,NaN,NaN
6,660673,Landing Page Submission,1,2.0,1640,2.00,India,Supply Chain Management,Unemployed,Low in Relevance
7,660664,API,0,0.0,0,0.00,NaN,NaN,NaN,NaN
8,660624,Landing Page Submission,0,2.0,71,2.00,India,IT Projects Management,NaN,NaN
9,660616,API,0,4.0,58,4.00,India,Finance Management,NaN,NaN
10,660608,Landing Page Submission,1,8.0,1351,8.00,India,Travel and Tourism,Unemployed,Might be
11,660570,Landing Page Submission,1,8.0,1343,2.67,India,Human Resource Management,Unemployed,NaN
12,660562,API,1,11.0,1538,11.00,India,Marketing Management,Unemployed,Might be
13,660558,Landing Page Submission,0,5.0,170,5.00,India,Business Administration,Unemployed,NaN
14,660553,Landing Page Submission,0,1.0,481,1.00,Russia,Business Administration,Unemployed,NaN
15,660547,API,1,6.0,1012,6.00,India,Select,Unemployed,Might be
16,660540,API,0,0.0,0,0.00,NaN,NaN,NaN,NaN
17,660534,API,0,6.0,973,6.00,India,Select,Unemployed,Might be
18,660522,Landing Page Submission,1,6.0,1688,3.00,India,Marketing Management,Unemployed,NaN
19,660509,API,0,3.0,98,3.00,India,Select,Unemployed,Worst

In [17]:
custom_df.shape 
# checking if we have desired number of columns, which were 10 - and yes, we have :)

(9240, 10)

In [18]:
custom_df.dtypes 
#checking once again, what kind of data types we have, to determine, if any need transformation

Lead Number                          int64
Lead Origin                         object
Converted                            int64
TotalVisits                        float64
Total Time Spent on Website          int64
Page Views Per Visit               float64
Country                             object
Specialization                      object
What is your current occupation     object
Lead Quality                        object
dtype: object

In [19]:
custom_df.info() 
#checking for Nulls in chosen columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 10 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Lead Number                      9240 non-null   int64
 1   Lead Origin                      9240 non-null   object
 2   Converted                        9240 non-null   int64
 3   TotalVisits                      9103 non-null   float64
 4   Total Time Spent on Website      9240 non-null   int64
 5   Page Views Per Visit             9103 non-null   float64
 6   Country                          6779 non-null   object
 7   Specialization                   7802 non-null   object
 8   What is your current occupation  6550 non-null   object
 9   Lead Quality                     4473 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 722.0+ KB

Now it's time to plan how we want to approach each column taking into consideration what we want to analyze.

# CASE 1 

## How many converted leads come from top 10 countries, sorted from highest to lowest number for each country?

For this EDA case, we need columns **"Lead Number", "Converted"** and **"Country"** from our custom_df Data Frame

In [20]:
leads_country_columns = ['Lead Number', 'Converted', 'Country']
leads_country_df = custom_df[leads_country_columns]

In [21]:
leads_country_df.head(10)

   Lead Number  Converted Country
0       660737          0     NaN
1       660728          0   India
2       660727          1   India
3       660719          0   India
4       660681          1   India
5       660680          0     NaN
6       660673          1   India
7       660664          0     NaN
8       660624          0   India
9       660616          0   India

In [22]:
leads_country_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Lead Number  9240 non-null   int64
 1   Converted    9240 non-null   int64
 2   Country      6779 non-null   object
dtypes: int64(2), object(1)
memory usage: 216.7+ KB

As we have some nulls in country column, in this specific case (as this is a training dataset) **I'm deciding to drop them.**

*In other case, it would be good to contact the data provider, and ask to provide the missing data.*

In [23]:
leads_country_cleaned = leads_country_df.dropna() 
#we're getting rid of each row where there is a missing country

In [24]:
leads_country_cleaned.head(20) 
#dataset without null values in country

    Lead Number  Converted Country
1        660728          0   India
2        660727          1   India
3        660719          0   India
4        660681          1   India
6        660673          1   India
8        660624          0   India
9        660616          0   India
10       660608          1   India
11       660570          1   India
12       660562          1   India
13       660558          0   India
14       660553          0  Russia
15       660547          1   India
17       660534          0   India
18       660522          1   India
19       660509          0   India
20       660479          0   India
21       660478          0   India
22       660471          1   India
23       660461          0   India

In [25]:
leads_country_cleaned.shape 
#everything is allright - rows with NaN values in country have been dropped

(6779, 3)

In [26]:
converted_leads = leads_country_cleaned.drop(leads_country_cleaned[leads_country_cleaned['Converted'] == 0].index)
# now we need to drop leads that did not converted, so with value 0

In [27]:
converted_leads.head(20)

    Lead Number  Converted Country
2        660727          1   India
4        660681          1   India
6        660673          1   India
10       660608          1   India
11       660570          1   India
12       660562          1   India
15       660547          1   India
18       660522          1   India
22       660471          1   India
24       660458          1   India
25       660447          1   India
26       660432          1   India
27       660424          1   India
29       660410          1   India
30       660402          1   India
34       660333          1   India
35       660321          1   India
37       660267          1   India
39       660236          1   India
56       659998          1   India

In [28]:
converted_leads.shape 
#leaving rows where client converted

(2485, 3)

In [29]:
converted_leads['Country'].unique()

array(['India', 'United States', 'Bahrain', 'Singapore', 'United Kingdom',
       'United Arab Emirates', 'Qatar', 'Saudi Arabia', 'France',
       'Netherlands', 'Germany', 'Sweden', 'Oman', 'Asia/Pacific Region',
       'Hong Kong', 'unknown', 'Denmark', 'South Africa', 'Australia',
       'Bangladesh'], dtype=object)

In [30]:
converted_leads.shape 
#we have 2485 leads that converted

(2485, 3)

In [31]:
#creating dict to practise mapping - probably not necessary, but I wanted to try ;)

leads_country_dict = {'India': 1,
                      'United States': 2,
                      'Bahrain': 3,
                      'Singapore': 4,
                      'United Kingdom': 5,
                      'United Arab Emirates': 6,
                      'Qatar': 7,
                      'Saudi Arabia': 8,
                      'France': 9,
                      'Netherlands': 10,
                      'Germany': 11,
                      'Sweden': 12,
                      'Oman': 13,
                      'Asia/Pacific Region': 14,
                      'Hong Kong': 15,
                      'unknown': 16,
                      'Denmark': 17,
                      'South Africa': 18,
                      'Australia': 19}

converted_leads['Country'] = converted_leads['Country'].map(leads_country_dict)

In [32]:
converted_leads_mapped = converted_leads

In [33]:
converted_leads_mapped.head(20)

    Lead Number  Converted  Country
2        660727          1      1.0
4        660681          1      1.0
6        660673          1      1.0
10       660608          1      1.0
11       660570          1      1.0
12       660562          1      1.0
15       660547          1      1.0
18       660522          1      1.0
22       660471          1      1.0
24       660458          1      1.0
25       660447          1      1.0
26       660432          1      1.0
27       660424          1      1.0
29       660410          1      1.0
30       660402          1      1.0
34       660333          1      1.0
35       660321          1      1.0
37       660267          1      1.0
39       660236          1      1.0
56       659998          1      1.0

In [34]:
converted_leads_mapped.shape

(2485, 3)

In [35]:
converted_leads_mapped['Country'].unique() 
#as I didn't assign a label to unknown country it took value NaN

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., nan])

In [36]:
converted_leads_mapped.info() 
#checking for NaNs showed, that there is only one rowe where the country is unknown - we can easily drop it

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2485 entries, 2 to 9239
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Lead Number  2485 non-null   int64
 1   Converted    2485 non-null   int64
 2   Country      2484 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 77.7 KB

In [37]:
df = converted_leads_mapped.dropna()

In [38]:
df.head(20)

    Lead Number  Converted  Country
2        660727          1      1.0
4        660681          1      1.0
6        660673          1      1.0
10       660608          1      1.0
11       660570          1      1.0
12       660562          1      1.0
15       660547          1      1.0
18       660522          1      1.0
22       660471          1      1.0
24       660458          1      1.0
25       660447          1      1.0
26       660432          1      1.0
27       660424          1      1.0
29       660410          1      1.0
30       660402          1      1.0
34       660333          1      1.0
35       660321          1      1.0
37       660267          1      1.0
39       660236          1      1.0
56       659998          1      1.0

In [39]:
df.shape

(2484, 3)

In [40]:
df['Country'].unique()

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19.])

In [41]:
final_columns = ['Lead Number', 'Country']
df2 = df[final_columns]

In [42]:
df2.head(20)

    Lead Number  Country
2        660727      1.0
4        660681      1.0
6        660673      1.0
10       660608      1.0
11       660570      1.0
12       660562      1.0
15       660547      1.0
18       660522      1.0
22       660471      1.0
24       660458      1.0
25       660447      1.0
26       660432      1.0
27       660424      1.0
29       660410      1.0
30       660402      1.0
34       660333      1.0
35       660321      1.0
37       660267      1.0
39       660236      1.0
56       659998      1.0

In [43]:
df2.dtypes

Lead Number      int64
Country        float64
dtype: object

In [44]:
count = df2['Country'].value_counts() 
#counting sum of the leads for each country

In [45]:
print(count)

1.0     2401
6.0       20
2.0       18
4.0       11
5.0        5
3.0        4
15.0       4
8.0        4
13.0       3
19.0       3
9.0        3
11.0       1
12.0       1
14.0       1
7.0        1
16.0       1
17.0       1
18.0       1
10.0       1
Name: Country, dtype: int64

In [46]:
# dropping the rows with countries outside our top 10
df2 = df2.drop(df2[df2['Country'] == 9].index)
df2 = df2.drop(df2[df2['Country'] == 11].index)
df2 = df2.drop(df2[df2['Country'] == 12].index)
df2 = df2.drop(df2[df2['Country'] == 14].index)
df2 = df2.drop(df2[df2['Country'] == 7].index)
df2 = df2.drop(df2[df2['Country'] == 16].index)
df2 = df2.drop(df2[df2['Country'] == 17].index)
df2 = df2.drop(df2[df2['Country'] == 18].index)
df2 = df2.drop(df2[df2['Country'] == 10].index)

In [47]:
df2.shape

(2473, 2)

In [48]:
# changing numbers back to country names using reverse mapping
reverse_mapping = {value: key for key, value in leads_country_dict.items()}

In [49]:
#implementing the reverse mapping in df country column
df2['Country'] = df2['Country'].map(reverse_mapping)

In [50]:
#checking if it worked, and it did!
df2.head(20)

    Lead Number Country
2        660727   India
4        660681   India
6        660673   India
10       660608   India
11       660570   India
12       660562   India
15       660547   India
18       660522   India
22       660471   India
24       660458   India
25       660447   India
26       660432   India
27       660424   India
29       660410   India
30       660402   India
34       660333   India
35       660321   India
37       660267   India
39       660236   India
56       659998   India

In [51]:
df2.dtypes

Lead Number     int64
Country        object
dtype: object

In [52]:
df2['Country'].unique()

array(['India', 'United States', 'Bahrain', 'Singapore', 'United Kingdom',
       'United Arab Emirates', 'Saudi Arabia', 'Oman', 'Hong Kong',
       'Australia'], dtype=object)

In [53]:
df2.shape

(2473, 2)

# Final Step
Saving the dataframe as csv file to import to Tableau and proceed with Data Visualizations later

In [54]:
df2.to_csv('final_dataset.csv', index=False)

## BONUS: Let's check the percentage of converted vs overall leads from specific countries
The goal is to determine, from which country the highest and lowest number of leads convert.

In [55]:
#initially cleaned previous version of our dataset, without deleting the not converted leads
leads_country_cleaned.head(20)

    Lead Number  Converted Country
1        660728          0   India
2        660727          1   India
3        660719          0   India
4        660681          1   India
6        660673          1   India
8        660624          0   India
9        660616          0   India
10       660608          1   India
11       660570          1   India
12       660562          1   India
13       660558          0   India
14       660553          0  Russia
15       660547          1   India
17       660534          0   India
18       660522          1   India
19       660509          0   India
20       660479          0   India
21       660478          0   India
22       660471          1   India
23       660461          0   India

In [56]:
#checking unique values in country column from df with both converted and not converted leads
leads_country_cleaned['Country'].unique()

array(['India', 'Russia', 'Kuwait', 'Oman', 'United Arab Emirates',
       'United States', 'Australia', 'United Kingdom', 'Bahrain', 'Ghana',
       'Singapore', 'Qatar', 'Saudi Arabia', 'Belgium', 'France',
       'Sri Lanka', 'China', 'Canada', 'Netherlands', 'Sweden', 'Nigeria',
       'Hong Kong', 'Germany', 'Asia/Pacific Region', 'Uganda', 'Kenya',
       'Italy', 'South Africa', 'Tanzania', 'unknown', 'Malaysia',
       'Liberia', 'Switzerland', 'Denmark', 'Philippines', 'Bangladesh',
       'Vietnam', 'Indonesia'], dtype=object)

In [57]:
df2['Country'].unique()

array(['India', 'United States', 'Bahrain', 'Singapore', 'United Kingdom',
       'United Arab Emirates', 'Saudi Arabia', 'Oman', 'Hong Kong',
       'Australia'], dtype=object)

In [58]:
#creating a variable based on array with unique country values from df2 
# (top 10 countries based on number of leads)
top_10_countries = df2['Country'].unique()

In [59]:
#creating new df with both converted and not converted leads from top 10 countries
top_10_df = leads_country_cleaned[leads_country_cleaned['Country'].isin(top_10_countries)]

In [60]:
top_10_df.head(20)

    Lead Number  Converted Country
1        660728          0   India
2        660727          1   India
3        660719          0   India
4        660681          1   India
6        660673          1   India
8        660624          0   India
9        660616          0   India
10       660608          1   India
11       660570          1   India
12       660562          1   India
13       660558          0   India
15       660547          1   India
17       660534          0   India
18       660522          1   India
19       660509          0   India
20       660479          0   India
21       660478          0   India
22       660471          1   India
23       660461          0   India
24       660458          1   India

In [61]:
#checking the new df size - bigger than those with only converted leads, so we suceeded yay!
top_10_df.shape

(6707, 3)

In [62]:
top_10_df.head(20)

    Lead Number  Converted Country
1        660728          0   India
2        660727          1   India
3        660719          0   India
4        660681          1   India
6        660673          1   India
8        660624          0   India
9        660616          0   India
10       660608          1   India
11       660570          1   India
12       660562          1   India
13       660558          0   India
15       660547          1   India
17       660534          0   India
18       660522          1   India
19       660509          0   India
20       660479          0   India
21       660478          0   India
22       660471          1   India
23       660461          0   India
24       660458          1   India

# Final Step
Saving the dataframe as csv file to import to Tableau and proceed with Data Visualizations later

In [63]:
top_10_df.to_csv('top_10_countries_converted_and_not.csv', index=False)

# Data Visualizations

To practise my Data Visualizations skills for my future Data Analyst role, I've prepared some Visualizations based on this cleaned and proceesed dataset. [You can check out those Visualizations here.](https://public.tableau.com/views/X_Education_CASE1_Visualizations/X_Education_CASE1_Visualizations?:language=en-GB&:display_count=n&:origin=viz_share_link)

## Coming up, answering the questions:
1. How does the lead quality looks like in comparison to the lead Occupation and Specialization?
2. How does the online marketing engagement (Total Visits, Total Time Spent, Page Views Per Visit, Lead Origin) influence the probability of the lead conversion?